<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="outside-container">
      <div class="inside-container">
        <div id="namste">🙏</div>
        <div id="mainDiv">
          <h1>Welcome to Villa Booking Portal</h1>
          <p id="description" class="typing-effect">
            A villa booking website is an online platform that allows users to
            search for, view, and book luxury villas for vacations or events.
            The site typically features high-quality images, detailed
            descriptions, and amenities for each villa, along with availability
            calendars and pricing options. Users can filter villas by location,
            size, features, and dates, and book directly through a secure
            payment system. Some websites may also offer user reviews, customer
            support, and additional services like concierge or local experiences
            to enhance the travel experience.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
