<% layout("/layouts/boilerplate") %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <div id="heading">
          <h1>Add &nbsp; New &nbsp; Villa  &nbsp; Here:</h1>
        </div>
        <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            placeholder="Write Title Here!!"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            Title Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter Title!!
          </div>

          <br />
          <br>

          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea
              name="listing[description]"
              id="description"
              placeholder="write description here!!"
              class="form-control"
              required
            ></textarea>
            <div class="valid-feedback">
              Nice!!
            </div>
            <div class="invalid-feedback">
              Please enter Short Description!!
            </div>
          </div>
          
          <br>

          <div class="row">
            <div class="col-md-5">
              <label for="category" class="form-label">Category:</label>
              <select name="listing[category]" id="category" class="form-control">
                <option>Select Options : </option>
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="beachfront">Beachfront</option>
                <option value="amazingpools">Amazing Pools</option>
                <option value="castles">Castles</option>
                <option value="boathouse">Boat House</option>
                <option value="golfing">Golfing</option>
                <option value="iconiccities">Iconic Cities</option>
                <option value="palaces">Palaces</option>
                <option value="waterhouse">Water House</option>
              </select>
              <div class="valid-feedback">
                Nice!!
              </div>
              <div class="invalid-feedback">
                Please enter Short Description!!
              </div>
            </div>

            <!-- <label for="image.url" class="form-label">Image URL:</label>
            <input type="text" placeholder="image Url" name="listing[image][url]" class="form-control"/> -->
            <div class="col-md-4">
              <label for="image.url" class="form-label">Upload Image:</label>
              <input type="file" name="listing[image]" class="form-control" required/>
            </div>
          </div>

          <br />
          <br>
          
          <div class="row">
            <div class="col-md-4">
              <label for="price" class="form-label">Price:</label>
              <input type="number" placeholder="Write Price!!" name="listing[price]" class="form-control" required/>

              <div class="valid-feedback">
                Correct!!
              </div>
              <div class="invalid-feedback">
                Please enter Price!!
              </div>
              
            </div>
            
            <div class="col-md-8">
              <label for="location" class="form-label">Location:</label>
              <input
                type="text"
                placeholder="Write Location!!"
                name="listing[location]"
                class="form-control"
              />
            </div>
          </div>          
          
          <br>

          <div>
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              placeholder="Write Country!!"
              name="listing[country]"
              class="form-control"
              required
            />
            
            <div class="invalid-feedback">
              Country should be valid!!
            </div>
          </div>
          <br />
          <button class="btn btn-dark">Submit!!</button>
        </form>
        <br>
      </div>
    </div>
  </body>
</html>
