<% layout("layouts/boilerplate") %>
<div class="container mt-5">
  <h2>Reset Password</h2>
  <form action="/reset-password/<%= token %>" method="POST">
    <input type="password" name="password" class="form-control mb-3" placeholder="New Password" required />
    <button class="btn btn-dark">Reset Password</button>
  </form>
</div>
