<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
  <div class="col-4 offset-4 authentication">
    <a class="navbar-brand offset-3" href="/">
      <span class="material-symbols-outlined"> linked_services </span>
      <u>GreatPark</u></a
    >

    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div>
        <h3 class="mt-5" style="color: rgb(219, 41, 41)"><b>SignUp</b></h3>
        <label for="username" class="form-label"> </label>
        <input
          type="text"
          id="username"
          placeholder="Username"
          name="username"
          class="form-control mt-2"
          required
        />

        <div class="invalid-feedback">Please enter Username!!</div>
        <div>
          <label for="email" class="form-label"> </label>
          <input
            type="text"
            id="email"
            placeholder="Email"
            name="email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter Email!!</div>
        </div>

        <label for="password" class="form-label"> </label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          name="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter Password!!</div>
        <button id="submit_btn" class="mt-4 signup-btn">SignUp</button>
      </div>
    </form>
    <br />
    <p>If User already exists, <a href="/login">Login</a></p>
  </div>
</div>